[Unit]
Description=Hadoop YARN ResourceManager daemon
After=network.target

[Service]
User=yarn
Group=hadoop
Type=forking
ExecStart={{ environments.HADOOP_HOME }}/bin/yarn --daemon start resourcemanager
ExecStop={{ environments.HADOOP_HOME }}/bin/yarn --daemon stop resourcemanager
WorkingDirectory={{ environments.HADOOP_HOME }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
